
<div class="cart-wrapper">
    <div class="cart">
        <div class="cart__header">
            <div class="cart__title">
                {{{title}}}
            </div>
            {{{clearButton}}}
        </div>

        <div class="cart__orders-body">
            {{#if restaurant.name}}
            <div class="cart__order-row">
                <div class="font_h2">{{restaurant.name}}</div>
                <img class="cart__order-restaurant-img" src="{{restaurant.img}}"/>
            </div>
            {{/if}}
            {{#each items}}
                <div id="{{itNum}}" class="cart__order-row">
                    <div class="cart__order-row-info">
                        <div class="cart__order-row-title">
                            {{ name }}
                        </div>
                        <div class="cart__order-row-info">
                            {{ weight }}г • {{ ccal }}ккал
                        </div>
                    </div>
                    <div class="cart__order-row-right-box">
                        <div class="cart__order-row-selector cart__order-row-number-selector">
                            <div class="dish-popup__num-selector-box">
                                <div class="button-icon minus dish-popup__selector-button">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M7 12L17 12" stroke="black" stroke-width="1.5" stroke-linecap="round"/>
                                    </svg>
                                </div>
                                <div class="dish-popup__number">{{ count }}</div>
                                <div class="button-icon plus dish-popup__selector-button">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M12 17V7" stroke="black" stroke-width="1.5" stroke-linecap="round"/>
                                        <path d="M7 12L17 12" stroke="black" stroke-width="1.5" stroke-linecap="round"/>
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div class="cart__order-row-cost">
                            {{ cost }} ₽
                        </div>
                    </div>
                    <div class="cart__order-row-additional">
                        {{#each radios}}
                            • {{name}}<br>
                        {{/each}}
                        {{#each ingredients}}
                            + {{name}}<br>
                        {{/each}}
                    </div>
                </div>
            {{/each}}
        </div>

        <div class="cart__summary">
            <div class="cart__time-summary-box">
                <div class="cart__summary-title">
                    {{{deliveryTimeText}}}
                </div>
                <div class="cart__summary-val">
                    {{ restaurant.minDTime }}-{{ restaurant.maxDTime}} мин
                </div>
            </div>
            <div class="cart__cost-summary-box">
                <div class="cart__summary-title">
                    Итого
                </div>
                <div class="cart__summary-val-cost">
                    <div class="cart__summary-cost">0</div><div class="cart__P">₽</div>
                </div>
            </div>
        </div>
    </div>
    {{{orderButton}}}
</div>
