<div class="modal-wrapper">
    <div class="overflow-wrap">
        <div class="modal">
            <div class="modal-top-block">
                <div class="modal__header">
                    <div class="font_h2">Добавить блюдо</div>
                    <div class="button-icon button-icon_color_gray modal-close-button">
                        <svg width="30" height="30" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.46458 15.5354L15.5356 8.46436" stroke="black" stroke-width="3" stroke-linecap="round"/>
                            <path d="M8.46458 8.46458L15.5356 15.5356" stroke="black" stroke-width="3" stroke-linecap="round"/>
                        </svg>
                    </div>
                </div>
                <img class="modal-dish__img" src="{{img}}">
                <div class="font_h2">{{name}}</div>
            </div>
            <div class="modal-center-block">
                <div class="font-paragraph">
                    {{desc}}
                </div>
                <div class="modal-dish__settings-wrapper modal-dish__radio-group">
                    {{{ radiosGroup }}}
                </div>

                <div class="modal-dish__settings-wrapper modal-dish__checkboxes-group">
                    {{{ checkboxGroup }}}
                </div>
            </div>
            <div class="modal-bottom-block">
                <div class="modal-dish__bottom-block">
                    <div class="modal-dish__selector">
                        <div class="button-icon button-icon_color_gray modal-dish__minus">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M7 12L17 12" stroke="black" stroke-width="1.5" stroke-linecap="round"/>
                            </svg>
                        </div>
                        <div class="font-body modal-dish__number">
                            1
                        </div>
                        <div class="button-icon button-icon_color_gray modal-dish__plus">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12 17V7" stroke="black" stroke-width="1.5" stroke-linecap="round"/>
                                <path d="M7 12L17 12" stroke="black" stroke-width="1.5" stroke-linecap="round"/>
                            </svg>
                        </div>
                    </div>
                    <div class="button button_color_black modal__buy-button">Добавить {{cost}}₽</div>
                </div>
            </div>
        </div>
    </div>
</div>