<label class="input-label">
    <div class="input-label__text">
        {{label}}
    </div>
    <input placeholder="{{placeholder}}"
           type="{{#if type}}{{type}}{{else}}text{{/if}}"
           class="input
                {{#if border}}
                    input_border
                    {{#if borderRadius}}
                        input_radius-border_{{borderRadius}}
                    {{/if}}
                {{/if}}
                {{#each classes}}
                    {{this}}
                {{/each}}
           ">
</label>